<html>
  <head>
    <title>Create Account</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Account Creation</h1>
      <br>
      <form action="" method="post" >
		<label><b>Name</b></label>
		<br>
		<input type="text" placeholder="Enter Email" name="email" required>
		<br>
		<label><b>Password</b></label>
		<br>
		<input type="password" placeholder="Enter Password" name="psw" required>
		<br>
        <input class="btn btn-default" type="submit" value="Confirm">
      </form>
	   <div><a href="/login">back to login</a></div>
    </div>	
  </body>
</html>