{% extends "base.html" %}
{% block content %}
<body>
    
    <h1>Hi, {{ user.email }}!</h1>
    
    <div class="container">
    <b><label>Project Name:</label></b>
    {{ project.name }}
    <br>
    <b><label>Description:</label></b>
    {{ project.description }}
    <br>
    <b><label>Author:</label></b>
    {{ project.author.email }}
    <br>
    <b><label>Invited users:</label></b>
    {% for i in project.users %}
        {{ i.email }}
    {% endfor %}
    </div>
    
    
    <a href="/edit">Edit</a>
    <a href="/invite/{{project.id }}">Invite</a>
    <br>


   <br>
   <br>
   <b><label>Invited Projects:</label></b>
   <br>
   {% for p in user.projects %}  
        <b><label>Project Name:</label></b>
        {{ p.name }}
        <br>
        <b><label>Description:</label></b>
        {{ p.description }}
        <br>
        <b><label>Author:</label></b>
        {{ p.author.email }}
        <br>
    {% endfor %}  
    
    
    
    <a href="/userList">Admin click here</a>  
</body>
{% endblock %}
